<div id="tareas1" data-role="view" data-title="Seguimiento Tareas" data-layout="main" data-model="app.funcionalidad03" data-show="getTareas" data-zoom="true">
    <div class="row contenedorBusqueda">
        <div class="col-xs-6">
            <button type="button" class="btn btn-default btn-block font-boton b_color_2 tex_boton_2" onclick="viewFormTarea();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-default btn-block font-boton b_color_2 tex_boton_2" onclick="adminTT();"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Tipos Tareas</button>
        </div>
    </div>
    <div id="tareas" class="font-cuerpo">
    </div>
</div>
<!-- Fin Listado Tareas -->